<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patiobalmax">

    <application
        android:allowBackup="true"
        android:label="PatioBalmax"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:label="PatioBalmax"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <!-- LoginScreen -->
        <activity
            android:name=".LoginScreen"
            android:label="Login"
            android:exported="false" />

        <!-- MapScreen -->
        <activity
            android:name=".MapScreen"
            android:label="Mapa"
            android:exported="false" />

        <!-- ParkingLotDetails -->
        <activity
            android:name=".ParkingLotDetails"
            android:label="Detalles del Patio"
            android:exported="false" />

        <!-- ParkingSpotDetails -->
        <activity
            android:name=".ParkingSpotDetails"
            android:label="Detalles del Puesto"
            android:exported="false" />

        <!-- UserManagement -->
        <activity
            android:name=".UserManagement"
            android:label="Gestión de Usuarios"
            android:exported="false" />

    </application>

</manifest>
